<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Configuração</title>
    <link rel="stylesheet" href="/css/dash.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-header" id="sec-02b4">
     <div class="u-black u-container-style u-group u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <img class="u-image u-image-circle u-preserve-proportions u-image-1" src="<%- server.avatar -%>" alt="" data-image-width="1024" data-image-height="1024">
          <h1 class="u-text u-text-default u-text-2">Maryy Dashboard</h1>
        </div>
      </div><div class="u-black u-container-style u-group u-group-2">
        <div class="u-container-layout u-container-layout-2">
          <a href="/guilds/<%- server.id -%>/entrada" class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-hover-black u-none u-radius-6 u-text-hover-white u-text-white u-btn-1">Boas-Vindas</a>
          <a href="/guilds/<%- server.id -%>/mod"  class="u-black u-border-2 u-border-white u-btn u-btn-round u-button-style u-hover-black u-radius-6 u-text-hover-white u-text-white u-btn-2">Moderação</a>
          <a href="/guilds/<%- server.id -%>/misc" class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-hover-black u-none u-radius-6 u-text-hover-white u-text-white u-btn-3" >Misclania</a>
          
          <div class="fr-view u-clearfix u-rich-text u-text u-text-3"></div>
        </div>
      </div><div class="u-container-style u-grey-60 u-group u-group-3">
        <div class="u-container-layout u-container-layout-3">
          <h1 class="u-text u-text-default u-text-4">Olá usuário, Você está na Dashboard da&nbsp;Maryy,&nbsp;no servidor</h1>
          <div class="u-radius-15 u-shape u-shape-round u-white u-shape-1"></div>
          <img class="u-image u-image-circle u-preserve-proportions u-image-2" src="<%- server.avatar -%>" alt="" data-image-width="512" data-image-height="512">
          <div class="fr-view u-clearfix u-rich-text u-text u-text-5">
            <h1 style="text-align: left;">
              <span style="line-height: 2.0;">
                <span class="u-text-black"><%- server.name -%></span>
              </span>
              <span class="u-text-black">
                <br>
              </span>
            </h1>
            <p style="text-align: left;">
              <br>
            </p>
          </div>
        </div>
      </div></header>
    <section class="u-align-left u-clearfix u-section-1" id="sec-c038">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"></div>
    </section>
  </body>
</html>
<!--____________________________
    dashboard / css novo
    criado pelo rēd#9999
________________________________-->