<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily - Mary imagine uma bot</title>
<script src="/js/daily.js"></script>
</head>
<body>
  <link rel="icon" href="https://mary.blacklight.net.br/src/img/icon.png">
    <center><h1>Daily</h1><p>Pegue o daily e ganhe MCOINS!</p><button onclick="pegar()">Pegar mcoins</button><p id="aa">Mensagem: <strong id="a">Clica no botão</strong></p><p>FunFact: <p id="aaa"></p></center>
    
</body>
</html>